html, body {
    margin: 0;
}
body {
    background-color: #d6a6a6;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(158, 117, 211);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(150, 150, 150);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}

p { 
    text-align: justify; 
    font-family:Arial, Helvetica, sans-serif
}
h3 {
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
}
h4 {
     font-family: 'Courier New', Courier, monospace; 
     text-align: center;
}
img {
     margin: 20px;
}
iframe {
    text-align: center;
}
h2 {
    text-align: center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: #ee0d0d;
}
label {
    color: #3f3f41; 
    text-align: left;
}
input {
    color: black ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px 10px 10px 10px;
}
fieldset {
    border-radius: 20px;
    color: rgb(255, 0, 170);
    border-style: dashed;
    border-color: violet;
    
}
iframe {
    align: center:

}
table {
    border-radius: 17px;
    border-color: rgb(21, 54, 54);

}